{% extends 'regions/base.html' %}
{% load static %}
{% block title %} Corona Complejidad {% endblock title %}

{% block contents %}


<div class="row">
    <div class="mx-auto col-sm" style="width: 200px; padding: 65px;">
        <div id="success_message"></div>
        <form action="{% url 'regions:create_region_page' %}" method="post" id="region_form">
            {% csrf_token %}
            <div class="form-group">
                {{ regionform.as_p }}
            </div>
        </form>
        <button onclick='SaveData("{{ csrf_token }}")' class="btn btn-primary" style="margin-top: 20px; width: 100%">Ingresar</button>
    </div>

    <div class="mx-auto col-sm" style="width: 200px; padding: 65px;">
        <form action="{% url 'regions:lp_model_page' %}" method="get" id="data_form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p}}
            </div>
        </form>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px; width: 100%;">Generar modelo</button>
    </div>

</div>

<div class="row">

    <div class="col-7" style="margin-left: 1%;">
        <div>
            <table class="table table-striped" id="data_table">
                <thead>
                    <tr>
                        <th scope="col">Región</th>
                        <th scope="col">Población</th>
                        <th scope="col">Estaciones actuales</th>
                        <th scope="col">Personal requerido</th>
                        <th scope="col">Costos</th>
                        <th scope="col">Muertes</th>
                        <th scope="col">Cualificación</th>
                    </tr>
                </thead>

                <tbody>
                    {% for region in regiones %}
                        <tr>
                            <td>{{ region.region_name }}</td>
                            <td>{{ region.existing_population }}</td>
                            <td>{{ region.current_personal }}</td>
                            <td>{{ region.required_personal }}</td>
                            <td>{{ region.generated_costs }}</td>
                            <td>{{ region.deads }}</td>
                            <td>{{ region.qualification }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-4">
        
        <h1 style="margin-bottom: 25px">RESULTADOS</h2>
        {% if 'distribucionVentiladores' %}
        <div class="form-group">

            {% for valor in distribucionVentiladores %}
            {% if  valor != 0 %}
            <p> A la región {{forloop.counter}} le corresponden {{ valor }} ventiladores </p>
            {% endif %}
            {% endfor %}

            {% for valor in distribucionProfesionales %}
            {% if  valor != 0 %}
            <p> A la región {{forloop.counter}} le corresponden {{ valor }} profesionales de la salud </p>
            {% endif %}
            {% endfor %}

            {% for valor in distribucionPresupuesto %}
            {% if  valor != 0 %}
            <p> A la región {{forloop.counter}} le corresponden {{ valor }} millones de pesos </p>
            {% endif %}
            {% endfor %}

            {% for valor in distribucionCualificacion %}
            {% if  valor != 0 %}
            <p> A la región {{forloop.counter}} le corresponde {{ valor }} de cualificación </p>
            {% endif %}
            {% endfor %}
            
            {% endif %}
        </div>
    </div>     
</div>


<div class="row mx-auto">
    <form style="width: 100%" action="{% url 'regions:reinicio_page' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" style="width: 60%; margin-left: 20%; margin-top: 40px; margin-bottom: 30px;">Nuevo modelo</button>
    </form>  
</div>

{% endblock contents %}


{% block extra_js %}
    <script src="{% static 'regions/js/peticiones.js' %}"></script>
{% endblock extra_js %}
    