{% extends 'regions/base.html' %}

{% block title %} Corona Complejidad {% endblock title %}

{% block contents %}

<div class="row">
    <img class="col-10" src="../../static/regions/img/coronavirus.jpeg" style="width: 100%; height: 120px;">
    <div class="col-2" style="background-color: #989391"></div>
</div>

<div class="row">
    <div class="mx-auto col-sm" style="width: 200px; padding: 65px;">
        <form action="{% url 'regions:home_page' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div> <input class="form-control" type="text" name="name" placeholder="Nombre de la región" required> </div>
                <div> <input class="form-control" type="text" name="poblacion" placeholder="Población actual" required> </div>
                <div> <input class="form-control" type="text" name="estaciones_actuales" placeholder="Estaciones actuales" required> </div>
                <div> <input class="form-control" type="text" name="personal_requerido" placeholder="Personal requerido" required> </div>
                <div> <input class="form-control" type="text" name="costos" placeholder="Costos que genera" required> </div>
                <div> <input class="form-control" type="text" name="muertes" placeholder="Muertes" required> </div>
                <div> <input class="form-control" type="text" name="cualificacion" placeholder="Cualificación" required> </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 20px; width: 100%">Ingresar</button>
            </div>
        </form>
    </div>

    <div class="mx-auto col-sm" style="width: 200px; padding: 65px;">
        <form action="{% url 'regions:model_page' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div> <input class="form-control" type="text" name="total_ventiladores" placeholder="Total de ventiladores a distribuír" required></div>
                <div> <input class="form-control" type="text" name="total_personal" placeholder="Personal disponible" required> </div>
                <div> <input class="form-control" type="text" name="presupuesto" placeholder="Presupuesto" required> </div>
                <div> <input class="form-control" type="text" name="total_cualificacion" placeholder="Cualificación" required> </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 20px; width: 100%;">Generar modelo</button>
            </div>
        </form>
    </div>

</div>

<div class="row">

    <div class="col-7" style="margin-left: 1%;">
        {% if 'regiones' %}
        <div>
            <table class="table table-striped" >
                <tr>
                    <th scope="col">Región</th>
                    <th scope="col">Población</th>
                    <th scope="col">Estaciones actuales</th>
                    <th scope="col">Personal requerido</th>
                    <th scope="col">Costos</th>
                    <th scope="col">Muertes</th>
                    <th scope="col">Cualificación</th>
                </tr>

                {% for region in regiones %}
                <tr>
                    <td>{{ region.name }}</td>
                    <td>{{ region.poblacion }}</td>
                    <td>{{ region.estaciones_actuales }}</td>
                    <td>{{ region.personal_requerido }}</td>
                    <td>{{ region.costos }}</td>
                    <td>{{ region.muertes }}</td>
                    <td>{{ region.cualificacion }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>


    <div class="col-4">
        
        <h1 style="margin-bottom: 25px">RESULTADOS</h2>
        {% if 'distribucionVentiladores' %}
        <div class="form-group">

            {% for valor in distribucionVentiladores %}
            {% if  valor != 0 %}
            <p> A la región {{forloop.counter}} le corresponden {{ valor }} ventiladores </p>
            {% endif %}
            {% endfor %}

            {% for valor in distribucionProfesionales %}
            {% if  valor != 0 %}
            <p> A la región {{forloop.counter}} le corresponden {{ valor }} profesionales de la salud </p>
            {% endif %}
            {% endfor %}

            {% for valor in distribucionPresupuesto %}
            {% if  valor != 0 %}
            <p> A la región {{forloop.counter}} le corresponden {{ valor }} millones de pesos </p>
            {% endif %}
            {% endfor %}

            {% for valor in distribucionCualificacion %}
            {% if  valor != 0 %}
            <p> A la región {{forloop.counter}} le corresponde {{ valor }} de cualificación </p>
            {% endif %}
            {% endfor %}
            
            {% endif %}
        </div>
    </div>     
</div>


<div class="row mx-auto">
    <form style="width: 100%" action="{% url 'regions:reinicio_page' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" style="width: 60%; margin-left: 20%; margin-top: 40px; margin-bottom: 30px;">Nuevo modelo</button>
    </form>  
</div>


{% endblock contents %}